* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../img/car-background.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    color: white; 
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: transparent; 
    position: fixed; 
    width: 100%;
    z-index: 1000;
}

.header .logo img {
    width: 150px;
    height: auto;
    margin-left: 0px;
}

.nav-menu ul {
    list-style: none;
    display: flex;
}

.nav-menu ul li {
    margin-right: 100px;
}

.nav-menu ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: white; 
    transition: color 0.3s ease, transform 0.3s ease; 
}

ul li a.active,
ul li a:hover {
    color: red; 
    border-bottom: 3px solid red;
    transform: scale(1.1);
}


.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
   

}


.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-right:60%;
    margin-top: -80px;
}

.hero p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-right:70%;
}

.hero h1 span,
.hero p span {
    color: #fca510; 
    font-family: 'Georgia', serif; 
    font-style: italic;
}



/* Specific style for Clients page
.clients-page .header {
    padding: 100px;  /* Reduced padding */
/*  */
/* }

.clients-page .header .logo img {
    width: 120px;  
}

.clients-page .nav-menu ul li {
    margin-right: 10px;  
}

.clients-page .nav-menu ul li a {
    font-size: 16px;
} 